workflows/Talk to Google Sheets/talk-to-google-sheets.json
{
  "name": "Talk to Google Sheets",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -112,
        -16
      ],
      "id": "eb2d73c0-61f6-455d-bd5a-63acef4936bb",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -352,
        -16
      ],
      "id": "12e05a03-53d9-4823-8dea-5b2100505ada",
      "name": "When chat message received",
      "webhookId": "435e6a85-7b04-444e-a4dd-cb435eb38ef3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "gpt-4.1"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -240,
        224
      ],
      "id": "341141b4-b4e2-46cf-9146-f0564be88e6f",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "r4gbJXE4Gnh6fvvM",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1CI78y2Vglroe54GxFLJpU7mzGIqvh7NVJ9AJHWJSW8A",
          "mode": "list",
          "cachedResultName": "Kbeauty Enquiry",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CI78y2Vglroe54GxFLJpU7mzGIqvh7NVJ9AJHWJSW8A/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1CI78y2Vglroe54GxFLJpU7mzGIqvh7NVJ9AJHWJSW8A/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        112,
        208
      ],
      "id": "380d01f8-99f6-4bdc-987f-8e2cf42e13b2",
      "name": "Get row(s) in sheet in Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "B18P9IkAhkqXsFyh",
          "name": "Google Sheets propmind.ai"
        }
      }
    },
    {
      "parameters": {
        "message": "={{ $json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1.3,
      "position": [
        304,
        -16
      ],
      "id": "3e33514a-89a4-4dd8-8ae9-f96902c7f61f",
      "name": "Chat",
      "webhookId": "c4c5a884-ddb1-42ee-a947-9a7ae781cee4"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -112,
        192
      ],
      "id": "93e71f36-d9d7-4d5e-a524-07762c2cbd78",
      "name": "Simple Memory"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet in Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "ed641aaf-5316-4b8c-b1ac-c5cbcc0ddfe3",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6950ecbbbeb052ad10e35a4abe396daa22577c41ec2d8a9cd9613785fd1cfbb4"
  },
  "id": "ocyQGCWcqQeh53rG",
  "tags": []
}
